<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>REST_API</title>
  <link rel="stylesheet" href="/static/css/style.css">
<body>
    <div id='response'>
    </div>
    <div class="b1">
  	<div class="button-container">
  	  	<a type="button" id="button_get">GET</a>
  	  	<a type="button" id="button_get_by_id">GET BY ID</a>
  	  	<a type="button" id="button_post">POST</a>
  	  	<a type="button" id="button_put">PUT</a>
  	  	<a type="button" id="button_delete">DELETE</a>
  	</div> 
  	</div>
  <script src="/static/js/scripts.js"> </script>
</body>
</html>