<!DOCTYPE html>
<html lang="ru">
<head>
    <link href="/static/css/main.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Тест</title>
</head>
<body>
	<div class="preloader">
		<h1 class="logo">//без комментариев</h1>
	</div>
	<div class="bar">
		<p class="bar-logo">//</p>
		<div class="bar-button">
			<a href="#header" class="button">главная</a>
			<a href="table" class="button">журнал</a>
			<a href="predictions" class="button">предсказания</a>
		</div>
	</div>
	<div id="header" class="header">
		<div class="header-screen">
			<img class="screen1" src="/static/images/Group 3.png"></img>
		</div>
		<div class="header-screen">
			<img class="screen2" src="/static/images/Group 5.png"></img>
		</div>
		<div class="header-screen">
			<img class="screen3" src="/static/images/Group 4.png"></img>
		</div>
		<a href="predictions" class="button">Начать</a>
		<div class="arrow">
			<img class="arrow-png" src="/static/images/Group 6.png"></img>
		</div>
	</div>
	<div class="how-to">
			<p class="header">Как это работает</p>
		
		<div class="how-icons">
			<div class="arrow">
				<img class="arrow-png" src="/static/images/ar.png"></img>
			</div>
			<div class="icon">
				<a href="table"><img class="icon-img" src="/static/images/excel.png"></img></a>
				<p class="desc">Заполняем журнал</p>
			</div>
			<div class="icon">
				<img class="icon-img" src="/static/images/excel-nice.png"></img>
				<p class="desc">Сохраняем данные</p>
			</div>
			<div class="icon">
				<img class="icon-img" src="/static/images/man.png"></img>
				<p class="desc">Вводим параметры для поиска</p>
			</div>
			<div class="icon">
				<a href="predictions"><img class="icon-img" src="/static/images/proc.png"></img></a>
				<p class="desc">Получаем предсказание</p>
			</div>
			<div class="arrow">
				<img class="img" src="/static/images/al.png"></img>
			</div>
		</div>
	</div>
	<div class="contacts">
		<p class="header">Контакты</p>
		<p class="desc">vk.com/no comments</p>
	</div>
	<div class="footer">
		<p class="header">//без комментариев</p>
		<p class="desc">Все права защищены © 2019</p>
	</div>
<script src="http://yastatic.net/jquery/2.1.3/jquery.min.js"></script>
<script src="/static/js/jquery.js"></script>
</body>
</html>